/config/database.php
/node_modules
/.sass-cache
/public/hot
/public/storage
/storage/*.key
app/storage/
public/assets
public/uploads
/vendor
/_live
/_dev
.env
.env.*.php
.env.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules/
npm-debug.log
bootstrap/compiled.php
