.map {

  color: #0D2134;


  #panel {
    background: #F1F9FF;
    border-radius: 5px;
    height: 800px;
    li.store {
      padding: 20px;
    }
    table {
      width: 100%;
      font-size: 16px;
    }
    a.callnow {
      background: #0D2134;
      color: #fff;
      width: 50%;
      float: left;
      padding: 10px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
    }
    a.createpo {
      background: #A71F47;
      color: #fff;
      width: 50%;
      float: left;
      padding: 10px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
    }
  }
  #map {
    border-radius: 5px;
    height: 800px;
  }
  form.storelocator-filter {
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    border-radius: 5px;
  }
  div.store {

  }
  .directions-panel {
    margin-top: 94px !important;
    background: #fff;
    padding: 20px !important;
    border-radius: 5px;
    padding: 1px;
  }
  .store-list {
    padding: 0 30px !important;
    margin-top: 120px !important;
    li {
      list-style: none;
      color: #A71F47;
    }
  }

}

.storelocator-panel {
  overflow: auto;
  background: #F1F9FF;
}

.storelocator-panel .store-list {
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
  padding: 5px;
}
.storelocator-panel .directions-panel {
  font-size: 0.8em;
}

.storelocator-panel .store-list li.store:hover {
  cursor: pointer;
  background: #eee;
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
  background: #ccf;
}

.storelocator-panel .directions {
  display: none;
}

.storelocator-panel .location-search {
  padding: 5px;
}

.storelocator-panel .location-search input {
  width: 100%;
}

.storelocator-panel .location-search h4 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list .no-stores {
  color: grey;
}

.storelocator-panel .store .features {
  display: none;
}

.storelocator-panel .feature-filter {
  overflow: hidden;
}

.storelocator-panel .feature-filter label {
  display: block;
  margin: 0 0.4em;
  float: left;
}

li.store {
  @include media-breakpoint-up(md) {
    width: 50%;
    float: left;
  }
  margin-bottom: 15px;
  font-size: 16px;
}

.store .title {
  font-weight: bold;
}

.store .address,
.store .phone,
.store .web,
.store .misc {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: block;
}

.store .features {
  overflow: hidden;
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 70%;
  max-width: 250px;
}

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em;
}

.store .web a {
  color: green
}

.store .action {
  color: #A71F47;
  margin-right: 0.5em;
}
